<!-- Todo: Investiagate if Contao adds headline tags on its own or not. If not, add them here. -->

<script src="/bundles/con4gisforum/js/subscription_module.js" defer></script>
<link rel="stylesheet" href="/bundles/con4gisforum/css/subscription_module.css">

<?php if ($this->forumSubs !== null) { ?>
    <div class="forum_subs">
        <?php foreach ($this->forumSubs as $sub) { ?>
        <div class="sub">
            <span class="sub_name">
                <?php $sub-> ?>
            </span>
        </div>
        <?php } ?>
    </div>
<?php } ?>